[submodule "Codeforces"]
	path = Codeforces
	url = https://github.com/AbhinavGupta-012/Codeforces.git
[submodule "Geek For Geeks"]
	path = Geek For Geeks
	url = https://github.com/AbhinavGupta-012/Geek-For-Geeks.git
[submodule "CSES"]
	path = CSES
	url = https://github.com/AbhinavGupta-012/CSES.git
[submodule "CodeChef"]
	path = CodeChef
	url = https://github.com/AbhinavGupta-012/CodeChef.git
[submodule "HackerRank"]
	path = HackerRank
	url = https://github.com/AbhinavGupta-012/HackerRank.git
[submodule "LeetCode"]
	path = LeetCode
	url = https://github.com/AbhinavGupta-012/LeetCode.git
