[submodule "Codeforces"]
	path = Codeforces
	url = https://github.com/AbhinavGupta-012/Codeforces.git
[submodule "Geek For Geeks"]
	path = Geek For Geeks
	url = https://github.com/AbhinavGupta-012/Geek-For-Geeks.git
[submodule "CSES"]
	path = CSES
	url = https://github.com/AbhinavGupta-012/CSES.git
